{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div>
    <p><strong>User</strong> {{ request.user }}</p>
</div>

<div>
    <a href="{% url 'members:signout' %}">로그아웃</a>
</div>
<hr>

<h2>My Todos</h2>

<div>
    <a href="{% url 'main:add-todo' %}">+Add Todo</a>
</div>
<br>

<div>
    <span>날짜별</span>
    <span>우선순위별</span>
    <span>상태별</span>
</div>

<ul>
    {% for todo_item in todo_items %}
    <li>
        <strong>{{ todo_item.author }}</strong>
        {{ todo_item.text }} <small>({{ todo_item.start_date|date:"Y-m-d" }} ~ {{ todo_item.end_date|date:"Y-m-d" }})</small>
        <!--        우선순위: {{ todo_item.priority }}-->

        <form action="{% url 'main:delete-todo' pk=todo_item.pk %}" method="post">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>

        <form action="{% url 'main:update-todo' pk=todo_item.pk %}" method="get">
            <button type="submit">Update</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}