{% extends 'base.html' %}

{% block head %}
<style>
    body {
        width: 400px;
        margin: 100px auto;
        background-color: #f5f5f5;
    }

    h2 {
        margin-bottom: 20px;
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
<body>
<h2 class="display-4 font-weight-normal">Update Todo</h2>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="text">할 일</span>
        </div>
        <input type="text" name="text" value="{{ todo.text }}" class="form-control" aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="start_date">시작 날짜</span>
        </div>
        <input type="text" onfocus="(this.type='date')" name="start_date" value="{{ todo.start_date }}" class="form-control"
               aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="end_date">끝나는 날짜</span>
        </div>
        <input type="text" onfocus="(this.type='date')" name="end_date" value="{{ todo.end_date }}" class="form-control"
               aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-default">
    </div>
    <button type="submit" class="btn btn-outline-info">Submit</button>
</form>
</body>
{% endblock %}