{% extends 'base.html' %}

{% block content %}
<h2>Update Todo</h2>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="number" name="priority" placeholder="우선 순위" value="{{ todo.priority }}">
    <input type="text" name="text" placeholder="할 일" value="{{ todo.text }}">
    <input type="date" name="start_date" placeholder="시작 날짜" value="{{ todo.start_date }}">
    <input type="date" name="end_date" placeholder="끝나는 날짜" value="{{ todo.end_date }}">
    <button type="submit">Submit</button>
</form>
{% endblock %}