{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css.map' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
{% if not user.is_authenticated %}
<form action="{% url 'members:signin' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Login</legend>
        Username <input type="text" name="username">
        Password <input type="text" name="password">
        <button type="submit">로그인</button>
    </fieldset>
</form>
{% endif %}

{% block content %}
{% endblock %}
</body>
</html>